
/*--Header Styling--*/
#header {
    background-color: #28397F;
    color: #f6ad42;
    padding: 30px 0;
    display: flex;
    justify-content: space-between; /* Adjusted to push title and home button to opposite ends */
    align-items: center;
    width: 100%;
    box-shadow: 0 4px 2px -2px gray;
}
#titleCon {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
#title {
    font-size: 34px;
    font-weight: bold;
}
html {
    background-image: url('../image/csBackground.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
}

/*--Content Styling--*/
#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 5px;
}

/*--Tool Containers--*/
#toolContainer {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 20px;
}
.tool {
    background-color: rgba(255, 255, 255, 0.85);
    border: 1px solid #000000;
    border-radius: 10px;
    width: 28%;
    height: 28vw;
    margin-top: 2vw;
    box-sizing: border-box;
}
.tool:hover {
    border: 2px solid #000000;
}

/*--Bio Container--*/
.bioContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #000000;
    width: 90%;
    height: 13vw;
    box-sizing: border-box;
}
.bioContainer:hover {
    border: 2px solid #000000;
}
.bio, .links {
    width: 48%;
    text-align: center;
}
